VITE_AUTH0_DOMAIN=tu-dominio.auth0.com
VITE_AUTH0_CLIENT_ID=tu-client-id
VITE_AUTH0_AUDIENCE=tu-api-audience
VITE_AUTH0_REDIRECT_URI=http://localhost:5173/callback

# Microservicios
VITE_USERS_SERVICE_URL=https://chatapp-gaa9.onrender.com
VITE_MESSAGES_SERVICE_URL=https://messages-service.onrender.com
VITE_GROUPS_SERVICE_URL=https://groups-service.onrender.com

# SignalR
VITE_SIGNALR_HUB_URL=http://localhost:5000/chatHub